 
  .card-signin {
    background-color: #343A40;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
    font-weight: bold;
    color:white;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }

  .headers{
    color: white;
  }

  .btn{
    margin-top: 10px;
  }


  

  
