<div class="container">

    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Welcome to Movies Database</h1>
  
    <hr class="mt-2 mb-5">
  
    <div class="row text-center text-lg-left">
  
      <div class="col-lg-3 col-md-4 col-6">
        <div class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="./assets/club.jpg" alt="">
            </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <div class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="./assets/knivesout.jpg" alt="">
            </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <div class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="./assets/rita.jpg" alt="">
            </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <div class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="./assets/joker.jpg" alt="">
            </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <div class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="./assets/ava.jpg" alt="">
            </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <div  class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="./assets/gladi.jpg" alt="">
            </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <div  class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="./assets/incep.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <div class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="./assets/tita.jpg" alt="">
            </div>
      </div>
    </div>
  
  </div>
  <!-- /.container -->
